<div class="jumbotron">
  <div class="container">
    <h1>¡Agrognome!</h1>
    <p>Sabemos la importancia de la organizacion y los buenos procesos en tu finca.</p>
    <p><a role="button" href="#" class="btn btn-primary btn-lg">Aprender mas »</a></p>
  </div>
</div>