<p id="notice"><%= notice %></p>
<h1 class="text-justify">Reporte de ventas </h1>
<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="text-justify">
    <h4>Las ventas realizadas se muestran en el siguiente grafico:  </h4>
    <br>
    <div class="text-center">
        <%= line_chart @sells.group_by_day(:created_at,:usuario_id => current_usuario.id ).count %>
    </div>
  </div>

</div>
<br>
<br>
<br>
<br>
