
@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }
body {
  background-image: image-url('background.jpg');
  box-sizing: content-box;
}

.inline-block{
  float: none;
  display: inline-block;
  margin-right: -2px;

}

.text-justify{
  text-align: justify;
}
nav {
  background-color: #2E2F30;
  color: #EFEFEF;
}

.btn-border{
  border-color: #EFEFEF;
}

.nav-logo{
  color: #EFEFEF;
  font-size: 23px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.align-sidebar{
  margin-right: 15%;
  margin-left: 80%;
}

.be-grey{
  background-color: #999999;
}
.no-list{
  list-style-type: none;
  color: #999;
}

.footer2 {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.footer2 a {
  color: #aaa;
}

.footer2 a:hover {
  color: #fff;
}
.footer2 p {
  margin: 0;
}

.widget-simplenav {
  margin-left:-5px;
}
.widget-simplenav a{
  margin:0 5px;
}

footer{
  margin-top: 400px;
}

.text-link{
  color: white;
}

.bg-grey{
  background-color: #eeeeee;
}

.form-max{
  margin-top: 15px;
  width: 276px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: none;

}
//Checkbox
.cb{
  outline: 1px dotted #66757F;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: #66757F;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 3px 0px;
  line-height: normal;
}

.margin-top{
  margin-top: 2%;
}